body {
    font-family: Arial, sans-serif;
    background-image: url('cinema.jpeg');
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
  }

.container {
    max-width: 708px;
    margin: 84px auto;
    padding: 20px;
    
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign-in-container {
    width: 680px;
    height: 700px;
    border-radius: 15px 0px 0px 0px;
    border: 3px solid #181818;
    opacity: 0.85;
    background: #0A0A0A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 0px;
    color:#FFFFFF
    
}
.Sign in{

    font-family: Noto Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.58px;
    text-align: left;
    color: #FFFFFF;

}


.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    width: 100px;
    height: 100px;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


label {
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {

    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color:#337ab7
}

input[type="checkbox"] {
    margin-right: 10px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
color:#337ab7
}

button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #0069d9;
}

#forgot-password {
    margin-top: 20px;
    text-decoration: none;
    color: #337ab7;
}

#forgot-password:hover {
    color: #23527c;
}
.bottom-container {
    position: center;
    bottom: 0;
    left: 0;
    width:100%;
    height: 20px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-container p {
    font-size: 14px;
    margin: 0;
}
.platform-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.platform-card {
    border-radius: 4px;
    padding: 16px;
    text-align: center;
    display: inline-block;
    margin: 0 16px;
}

.platform-card h3 {
    margin: 0;
    font-size: 18px;
}

.platform-card img {
    width: 70px;
    height: 70px;
}